{% extends "Layouts/base.html.twig" %}

{% block title %}
    Your Profile
{% endblock %}

{% block body %}
    <main class="max-w-screen-xl mx-auto mt-12 min-h-[calc(100%-12.5rem)] px-8">
        <h2 class="text-3xl font-bold text-zpid-purple-700">
            Profile
        </h2>

        <h3 class="mt-4 text-2xl font-semibold text-zpid-purple-700">Login details</h3>
        <p class="mt-2 max-w-prose">The email address is obtained from the single-sign-on (SSO) provider you used to
            login.</p>
        <ul class="mt-4">
            <li>
                <span class="block font-bold md:inline-block xl:w-1/12 md:w-1/6">SSO-Provider:</span>
                {# TODO: display provider #}
            </li>
            <li class="mt-1">
                <span class="block font-bold md:inline-block xl:w-1/12 md:w-1/6">User-email:</span>
                {{ app.user.email }}
            </li>
            <li class="mt-1">
                <span class="block font-bold md:inline-block xl:w-1/12 md:w-1/6">User-Id:</span> {{ app.user.id }}
            </li>
        </ul>
    </main>
{% endblock %}
