{% extends "Layouts/base.html.twig" %}

{% block title %}
    DataWiz Features
{% endblock %}

{% block body %}
    <div class="col-span-full xl:col-start-3 xl:col-end-11">
        <main class="mt-12">
            <h2 class="flex items-center text-3xl font-semibold">
                <span class="inline w-8 h-8 mr-2 iconify iconify-inline"
                    data-icon="mdi:view-grid">

                </span>Dashboard
            </h2>

            <a href="{{ path("Study-overview") }}">
                <div>
                    Study Documentation
                </div>
            </a>
        </main>
    </div>
{% endblock %}
