{% extends "Layouts/base.html.twig" %}

{% block body %}
    <div class="text-2xl m-8 rounded-lg p-4 shadow-lg border-2 border-gray-800 inline-block">
        Dashboard
    </div>

    Choose your Service

    <a href="{{ path('Study-overview') }}">
        <div>Study Documentation</div>
    </a>

{% endblock %}
