{% extends "Layouts/base.html.twig" %}

{% block title %}
    Welcome to DataWiz
{% endblock %}

{% block body %}
    <div class="col-span-full xl:col-start-3 xl:col-end-11">
        <section class="mt-12">
            <div class="inline-block p-4 m-8 text-2xl border-2 border-gray-800 rounded-lg shadow-lg">
                Welcome to DataWiz
            </div>We offer the following stuff for your research
        </section>
    </div>
{% endblock %}
