{% extends "Layouts/base.html.twig" %}

{% block body %}
    <div class="text-2xl m-8 rounded-lg p-4 shadow-lg border-2 border-gray-800 inline-block">
        With great <strong class="italic">Profile</strong> comes great <strong class="italic">Settings</strong>.
    </div>

    <ul>
        <li>{{ currentUser.id }}</li>
        <li>{{ currentUser.email }}</li>
    </ul>

{% endblock %}
