{% extends "Layouts/base.html.twig" %}

{% block title %}
    Your Profile
{% endblock %}

{% block body %}
    <div class="col-span-full xl:col-start-3 xl:col-end-11">
        <main class="mt-12">
            <h2 class="text-2xl font-semibold">
                Profile
            </h2>

            <ul class="mt-4">
                <li>
                    <span class="font-bold">User-Id:</span> {{ app.user.id }}
                </li>
                <li>
                    <span class="font-bold">User-email:</span>
                    {{ dump(app.user) }}
                    {#{{ app.user.email }}#}
                </li>
            </ul>
        </main>
    </div>
{% endblock %}
