{% extends "Layouts/base.html.twig" %}

{% block body %}
<h1>I am bad at UX stuff</h1>
<p>Greeting, your developer</p>

<p>This is given to the page:</p>
<p> {{ codebook.id }}</p>

    <p>{{ dummy }}</p>

<button x-data="{ url: '{{ absolute_url(path('Codebook-dataupdate', {uuid: codebook.id})) }}' }"
     @click="$fetch({
     url: url,
     method: 'post',
     data: {header: [4,5,6,7], anotherKey: '{{ codebook.id }}' }
     })
     .then(({ data }) => console.log(data))
     .catch(({data }) => console.log(data))">
    Save changes
</button>

{% endblock %}