<footer class="flex items-center justify-center h-24 bg-zpid-purple-700 col-span-full">
    <a href="https://leibniz-psychology.org" class="text-sm text-white hover:underline no-linkout"
       title="Visit Leibniz Psychology website" target="_blank" rel="noreferrer">powered by<img
                src="{{ asset('build/images/leibniz_psychology_small.svg') }}" alt="Logo of Leibniz Psychology"
                class="inline-block h-6 ml-2"></a>
</footer>
