<!-- 
div wrap for more ux options
we may need additional configuration for this dropzone
 -->
<div>
    <form action="{{ oneup_uploader_endpoint("materials") }}"
          class="dropzone"
          id="datawiz-dropzone"
          style="width:200px; height:200px; border:4px dashed black"></form>
</div>
