{% if app.user %}
    <div class="flex h-full mr-auto">
        <a href="{{ path("dashboard") }}"
           class="flex items-center ring-inset px-3 pt-1 h-full text-base border-b-4 border-transparent hover:border-zpid-blue
            {{- app.request.pathinfo == path("dashboard") ? ' border-zpid-blue font-semibold' -}}">
            <span class="iconify iconify--mdi mr-0.5 h-4 w-4 self-center"
                  data-icon="mdi:view-grid">

            </span>
            Dashboard
        </a>

        <a href="{{ path("Study-overview") }}"
           class="flex items-center ring-inset h-full px-3 ml-4 text-base pt-1 border-b-4 border-transparent hover:border-zpid-blue
            {{- isPartOfStudyDocumentation|default(false) ? ' border-zpid-blue font-semibold' -}}">
            <div>
                Data documentation
            </div>
        </a>
    </div>
{% endif %}
