{% if condition %}
    <p>
        <span>{{ name }}</span>:
        <br>
        <ul>
            {% for entry in data %}
                <li>{{ entry }}</li>
            {% endfor %}
        </ul>
    </p>
{% endif %}

