html {
  @apply w-full h-full;
}

body {
  @apply w-full h-full bg-mono-400;
}

button {
  @apply px-2 py-0.5 bg-white border border-gray-500 rounded hover:bg-mono-100 shadow;
}

input,
textarea {
  @apply border border-gray-300;
}

button:focus,
input:focus,
textarea:focus {
  @apply outline-none ring;
}

a:focus {
  @apply outline-none ring ring-inset;
}

.SiteContainer {
  min-height: 100%;
  grid-template-rows: auto 1fr auto;
}
