html {
  @apply w-full h-full;
}

body {
  @apply w-full h-full bg-mono-400;
}

button {
  @apply px-2 py-0.5 bg-white border border-gray-500 rounded hover:bg-mono-100 shadow;
}

input[type="password"],
input[type="text"],
textarea {
  @apply w-4/5 p-2 bg-white border placeholder-mono-500 border-mono-500;
}

button:focus,
input:focus,
textarea:focus {
  @apply outline-none ring;
}

a:focus {
  @apply outline-none ring ring-inset;
}

.SiteContainer {
  min-height: 100%;
  grid-template-rows: auto 1fr auto;
}

a[href*="//"]:not([href*="datawiz2.dev.zpid.de/"])::after
{
  position: relative;
  top: 0.125rem;
  display: inline-block;
  overflow: hidden;
  width: 1rem;
  height: 1rem;
  margin-left: 0.2em;
  /* prettier-ignore */
  background:
    url("../Images/link-out.svg"
    param(--color theme("colors.mono.900")))
    left center no-repeat;
  content: "(external link)";
  text-indent: 1rem;
  white-space: nowrap;
}

a[href*="//"]:not([href*="datawiz2.dev.zpid.de/"]):hover::after
{
  /* prettier-ignore */
  background:
    url("../Images/link-out.svg"
    param(--color
    theme("colors.blue.500")))
    left center no-repeat;
}
