@import "components/radio_check";
@import "components/buttons";
@import "components/navigation";
@import "components/modal";
@import "components/widget_author";

.MetaDataGroup-Title {
  @apply px-6 pt-4 pb-4 text-2xl font-semibold rounded-lg bg-mono-100 text-zpid-purple-700;
}

.MetaData-Title {
  @apply flex justify-between w-full px-6 pt-3 pb-3 text-xl font-semibold bg-gradient-to-b from-mono-100 to-mono-50 text-zpid-purple-700;

  scroll-margin-top: 6rem;
}

.MetaData-Label {
  @apply block px-6 mt-1 leading-snug max-w-prose;
}

.MetaData-Widget {
  @apply px-6 pt-1;
}

.MetaData-Widget_collection > div {
  @apply flex mt-0.5 items-baseline;
}

.MetaData-TextInput,
.MetaData-Widget_collection > div input,
.MetaData-Widget_collection > div textarea {
  @apply w-full;
}

.MetaData-AddButton {
  @apply flex;

  &::before {
    @apply w-[1.125rem] h-[1.125rem] mr-1;

    align-self: center;
    // TODO edit svg to accept parameters
    /* prettier-ignore */
    background:
      url("../Images/fluent:add-20-regular.svg"
      param(--color theme("colors.white")))
      left center no-repeat;
    content: "";
  }
}

.MetaData-RemoveButton {
  @apply px-2 py-0.5 ml-1 border border-mono-500 bg-white hover:bg-mono-100 rounded-xl;
}

.MetaData-HelpButton {
  @apply relative w-8 h-8 text-xl font-bold text-white border rounded-full bg-zpid-purple-700 hover:bg-zpid-blue;
}

.MetaData-SubmitButton {
  @apply flex self-center justify-self-center;

  &::before {
    @apply w-[1.125rem] h-[1.125rem] mr-1;

    align-self: center;
    // TODO edit svg to accept parameters
    /* prettier-ignore */
    background:
      url("../Images/ic:outline-save.svg"
      param(--color theme("colors.white")))
      left center no-repeat;
    content: "";
  }
}

.Help-Section {
  @apply flex bg-mono-100;
}

.Help-MetaData {
  @apply flex bg-white;
}

.Help-Text {
  @apply mx-4;
}

.Help-Text_section {
  @apply mt-3 mb-4;
}

.Help-Text_metaData {
  @apply mt-4 mb-6;
}

.WizNavBar {
  @apply sticky z-10 grid grid-flow-col px-2 py-2 mt-4 transition duration-75 border-t rounded-b-lg auto-cols-fr -bottom-px border-mono-500 bg-mono-100;
}

.WizNavBar_isSticky {
  @apply border-l border-r rounded-b-none bg-opacity-90;

  box-shadow: 0 -5px 30px -10px rgb(175, 175, 175);
}
