@import "components/radio_check";
@import "components/buttons";
@import "components/navigation";
@import "components/modal";
@import "components/widget_author";

.MetaDataGroup-Title {
  @apply px-6 pt-4 pb-4 text-2xl font-semibold rounded-lg bg-mono-100 text-zpid-purple-700;
}

.MetaData-Title {
  @apply flex justify-between w-full px-6 pt-3 pb-3 text-xl font-semibold bg-gradient-to-b from-mono-100 to-mono-50 text-zpid-purple-700;

  scroll-margin-top: 6rem;
}

.MetaData-Label {
  @apply block px-6 mt-1 leading-snug max-w-prose;
}

.MetaData-Widget {
  @apply px-6 pt-1;
}

.MetaData-Widget_collection > div {
  @apply flex mt-0.5 items-baseline;
}

.MetaData-TextInput,
.MetaData-Widget_collection > div input,
.MetaData-Widget_collection > div textarea {
  @apply w-full;
}

.MetaData-AddButton {
  @apply flex;

  &::before {
    @apply w-[1.125rem] h-[1.125rem] mr-1;

    align-self: center;
    // TODO edit svg to accept parameters
    /* prettier-ignore */
    background:
      url("../Images/fluent:add-20-regular.svg"
      param(--color theme("colors.white")))
      left center no-repeat;
    content: "";
  }
}

.MetaData-RemoveButton {
  @apply px-2 py-0.5 ml-1 border border-mono-500 bg-white hover:bg-mono-100 rounded-xl;
}

.MetaData-HelpButton {
  @apply inline-flex items-center justify-center flex-shrink-0 w-6 h-6 text-lg font-bold text-white rounded-full shadow-lg bg-zpid-purple-700 hover:bg-zpid-purple-500;
}

.MetaData-SubmitButton {
  @apply flex self-center justify-self-center;

  &::before {
    @apply w-[1.125rem] h-[1.125rem] mr-1;

    align-self: center;
    // TODO edit svg to accept parameters
    /* prettier-ignore */
    background:
      url("../Images/ic:outline-save.svg"
      param(--color theme("colors.white")))
      left center no-repeat;
    content: "";
  }
}

.Help-Text {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  dl {
    @apply px-4;
  }
}

.Help-Text_section {
  @apply mb-4;

  h1 {
    @apply pt-3.5 pb-[1.125rem] bg-mono-100 text-zpid-purple;
    // @apply text-xl #{!important};
  }
}

.Help-Text_metaData {
  @apply mt-4 mb-6;
}

.Help-Text_metaData-Title {
  @apply flex justify-between w-full;

  &::after {
    @apply transition rotate-90;

    content: "›";
  }
}

.Help-Text_metaData_expanded {
  &::after {
    @apply transition transform -rotate-90 -translate-x-1;
  }
}

details.Help-Text > summary {
  @apply flex items-center overflow-hidden break-all;

  &::before {
    @apply flex items-center justify-center w-4 h-4 p-2 mr-3 text-sm font-semibold border rounded-full border-zpid-purple;

    content: "?";
  }

  &::after {
    @apply flex items-center justify-center w-4 h-4 ml-auto text-xl transition rotate-90;

    content: "›";
  }
}

details.Help-Text[open] > summary {
  @apply bg-mono-100;

  &::before {
    @apply text-white border-transparent bg-zpid-blue;
  }

  &::after {
    @apply transition transform -rotate-90 -translate-x-1;

    content: "›";
  }
}

@keyframes details-show {
  from {
    opacity: 0%;
    transform: var(--details-translate, translateY(-0.5em));
  }
}

details.Help-Text[open] > *:not(summary) {
  animation: details-show 250ms ease-in-out;
}

.WizNavBar {
  @apply sticky z-10 grid grid-flow-col px-2 py-2 mt-4 transition duration-75 border-t rounded-b-lg auto-cols-fr -bottom-px border-mono-500 bg-mono-100;
}

.WizNavBar_isSticky {
  @apply border-l border-r rounded-b-none bg-opacity-90;

  box-shadow: 0 -5px 30px -10px rgb(175 175 175);
}

.ReviewItem-Highlight {
  @apply relative;

  &::before {
    @apply left-0 top-0 bottom-0 absolute inline-block w-3.5 -ml-3.5 overflow-hidden whitespace-nowrap;
  }
}

.ReviewItem-Highlight_mandatory {
  // @apply bg-gradient-to-t from-transparent via-pink-50 to-transparent;

  &::before {
    @apply font-bold text-pink-500;

    content: "!";
  }
}

.ReviewItem-Highlight_recommended {
  // @apply bg-gradient-to-t from-transparent via-[#edfbff] to-transparent;

  &::before {
    content: "!";
  }
}
