.StudyNav-NavItem {
  @apply block py-2 pl-3 pr-3 mt-1 underline bg-mono-300;
}

.StudyNav-NavItem_active {
  @apply pl-2 font-bold no-underline border-l-4 border-black;
  &_isParent {
    @apply border-l-0;
  }
}

.StudyNav-NavItem_settings {
  @apply inline-flex items-center mt-0 bg-transparent;
}

.StudyNav-SubNavItem {
  @apply block py-1 pl-4 pr-3 leading-tight underline bg-mono-200;
}

.StudyNav-SubNavItem_active {
  @apply pl-3 font-bold no-underline border-l-4 border-black;
}

.MetaData-Title {
  @apply flex justify-between w-full px-6 pt-3 pb-3 text-xl font-semibold bg-mono-300 bg-gradient-to-b from-mono-300 to-mono-200;

  scroll-margin-top: 6rem;
}

.MetaData-Label {
  @apply block px-6 mt-1 leading-snug;
}

.MetaData-Widget {
  @apply px-6 pt-1;
}

.MetaData-Widget_collection > div {
  @apply flex mt-0.5 items-baseline;
}

.MetaData-TextInput,
.MetaData-Widget_collection > div input,
.MetaData-Widget_collection > div textarea {
  @apply w-full;
}

.MetaData-AddButton {
  @apply block h-full mx-auto mt-1 underline bg-transparent border-0 shadow-none hover:bg-transparent;
}

.MetaData-RemoveButton {
  @apply px-2 py-0.5 ml-1 border border-mono-500 bg-white hover:bg-mono-100 rounded-xl;
}

.MetaData-HelpButton {
  @apply relative w-8 h-8 px-2 ml-2 font-semibold text-gray-800 border rounded-full shadow bg-mono-100 border-mono-400 focus:outline-none focus:ring;
  &:hover {
    @apply bg-white;
  }
}

.MetaData-SubmitButton {
  @apply mx-6 mt-4 mb-4;
}

.Help-Section {
  @apply flex bg-mono-200;
}

.Help-MetaData {
  @apply flex bg-white;
}

.Help-Text {
  @apply mx-4;
}

.Help-Text_section {
  @apply mt-3 mb-4;
}

.Help-Text_metaData {
  @apply mt-4 mb-6;
}

.WizNavBar {
  @apply sticky z-10 grid grid-flow-col px-2 mt-4 border-t auto-cols-fr -bottom-px border-mono-500 bg-mono-100;

  /* Fix for sticky */
  padding-bottom: calc(0.25rem + 1px);
  transition: 0.05s;
}

/* styles for when the header is in sticky mode */
.WizNavBar_isSticky {
  @apply text-black border-t border-b-2 border-mono-500 bg-opacity-90;

  box-shadow: 0 -5px 30px -10px #555;
}
