@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-display: fallback;
	font-stretch: normal;
	src: url(../Fonts/Open_Sans-normal-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 500;
	font-display: fallback;
	font-stretch: normal;
	src: url(../Fonts/Open_Sans-normal-500.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-display: fallback;
	font-stretch: normal;
	src: url(../Fonts/Open_Sans-normal-600.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-display: fallback;
	font-stretch: normal;
	src: url(../Fonts/Open_Sans-normal-700.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Open Sans Condensed';
	font-style: normal;
	font-weight: 300;
	font-display: fallback;
	font-stretch: normal;
	src: url(../Fonts/Open_Sans_Condensed-normal-300.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Open Sans Condensed';
	font-style: normal;
	font-weight: 700;
	font-display: fallback;
	font-stretch: normal;
	src: url(../Fonts/Open_Sans_Condensed-normal-700.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Zilla Slab';
	font-style: normal;
	font-weight: 400;
	font-display: fallback;
	font-stretch: normal;
	src: url(../Fonts/Zilla_Slab-normal-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Zilla Slab';
	font-style: normal;
	font-weight: 600;
	font-display: fallback;
	font-stretch: normal;
	src: url(../Fonts/Zilla_Slab-normal-600.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Zilla Slab';
	font-style: normal;
	font-weight: 700;
	font-display: fallback;
	font-stretch: normal;
	src: url(../Fonts/Zilla_Slab-normal-700.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

