.CodeBookHead-Cell {
  @apply px-1 py-3 font-medium text-left text-gray-700 border-b bg-mono-200 border-mono-500;

  .tippy-content {
    @apply font-normal;
  }
}

.PopupLink {
  width: max-content;
  min-width: 1.5rem;
  max-width: stretch;
}
