.CheckBox-Input,
.RadioButton-Input {
  @apply absolute w-px h-px p-0 -m-px overflow-hidden border-0 opacity-0;
}

.CheckBox-Label {
  &::before {
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
  }
}

.RadioButton-Label {
  &::before {
    border-bottom-left-radius: 1rem 1rem;
    border-bottom-right-radius: 1rem 1rem;
    border-top-left-radius: 1rem 1rem;
    border-top-right-radius: 1rem 1rem;
  }
}

.CheckBox-Label,
.RadioButton-Label {
  @apply flex flex-wrap mt-2 leading-tight;

  &::before {
    @apply relative flex-shrink-0 inline-block w-4 h-4 mt-0.5 mr-1.5 bg-white border-2 border-black border-solid;

    content: "";
  }

  &:first-of-type {
    @apply mt-0;
  }

  span {
    @apply w-full ml-[1.375rem] block text-sm;

    &:first-child {
      @apply w-[calc(100%-1.375rem)] ml-0 text-base;

      margin-top: -0.125rem;
    }
  }
}

.CheckBox-Input:focus + .CheckBox-Label,
.RadioButton-Input:focus + .RadioButton-Label {
  &::before {
    @apply ring;

    border: 2px solid #0071de;
  }
}

.CheckBox-Input:checked + .CheckBox-Label::before {
  /* prettier-ignore */
  background:
    url("../Images/checkmark.svg"
    param(--color theme("colors.blue.600"))
    param(--strokeWidth 10))
    left center no-repeat;

  @apply bg-white;
}

.RadioButton-Input:checked + .RadioButton-Label::before {
  /* prettier-ignore */
  background:
    url("../Images/radiobutton.svg"
    param(--color theme("colors.blue.600")))
    left center no-repeat;

  @apply bg-white;
}

.RadioButton-Input:checked + .RadioButton-Label_card {
  @apply border-gray-700 bg-mono-300;
}

/* On mouse-over, add a grey background color */
.RadioButton-Input:not(:checked):hover + .RadioButton-Label::before {
  /* prettier-ignore */
  background:
    url("../Images/radiobutton.svg"
    param(--color theme("colors.blue.200")))
    left center no-repeat;

  @apply bg-white;
}
