{% extends "Layouts/threeColumn.html.twig" %}
{% from "Components/_macros.html.twig" import helpButton %}
{% from "Components/_macros.html.twig" import sectionHelp %}
{% from "Components/_macros.html.twig" import formHelp %}
{% from "Components/_macros.html.twig" import wizNav %}

{% set isPartOfStudyDocumentation = true %}
{% set isStudyDescriptionSubItem = false %}

{% block title %}
    Data Overview
{% endblock %}

{% block content %}
    {# TODO: This site should be completely independent from changes at the trait level #}
    {# Could be archieve with an Reviewable interface which asks for data-structure
       processed by the template and configured by the entity which implements the method
    #}
    <div class="inline-block p-4 m-8 text-2xl border-2 border-gray-800 rounded-lg shadow-lg">
        Review for {{ experimentName }}
    </div>
    <p>
        Please check your given information for completion and correctness.
    </p>

    <article>
        <section style="margin-top: 20px">
            <h2 class="text-2xl font-semibold">Basic Information</h2>
            {% for reviewItem in basicInfoReview %}
                {% include 'Components/_reviewValue.html.twig' with {item: reviewItem} %}
            {% endfor %}
            <div class="" style="margin-top: 20px">
                <h2 class="text-2xl font-semibold">Creators:</h2>
                {% for reviewCreator in basicCreatorInfoReview %}
                    {% for reviewItem in reviewCreator.reviewCollection %}
                        {% include 'Components/_reviewValue.html.twig' with {item: reviewItem} %}
                    {% endfor %}
                {% endfor %}
            </div>
        </section>
        <section style="margin-top: 20px">
            <h2 class="text-2xl font-semibold">Objectives & hypotheses</h2>
            {% for reviewItem in theoryReview %}
                {% include 'Components/_reviewValue.html.twig' with {item: reviewItem} %}
            {% endfor %}
        </section>
        <section style="margin-top: 20px">
            <h2 class="text-2xl font-semibold">Study Method</h2>
            {% for reviewItem in methodReview %}
                {% include 'Components/_reviewValue.html.twig' with {item: reviewItem} %}
            {% endfor %}
        </section>
        <section style="margin-top: 20px">
            <h2 class="text-2xl font-semibold">Data Collection</h2>
            {% for reviewItem in measureReview %}
                {% include 'Components/_reviewValue.html.twig' with {item: reviewItem} %}
            {% endfor %}
        </section>
        <section style="margin-top: 20px">
            <h2 class="text-2xl font-semibold">Sampling</h2>
            {% for reviewItem in sampleReview %}
                {% include 'Components/_reviewValue.html.twig' with {item: reviewItem} %}
            {% endfor %}
        </section>

    </article>

    {{ render(controller('App\\View\\Controller\\NavigationController::savebarNavigationAction', {
        request: app.request,
        prevUrl: 'Study-materials',
        prevTitle: 'Upload materials',
        nextUrl: 'Study-review',
        nextTitle: 'Export study',
        form: null
    })) }}
{% endblock %}
