.CheckBox-Input,
.RadioButton-Input {
  @apply absolute w-px h-px p-0 -m-px overflow-hidden border-0 opacity-0;
}

.CheckBox-Label {
  &::before {
    border-radius: 225px 15px / 15px 225px;
  }
}

.RadioButton-Label {
  &::before {
    @apply rounded-full;
  }
}

.CheckBox-Label,
.RadioButton-Label {
  @apply flex flex-wrap items-center mt-1.5;

  &::before {
    @apply relative self-center w-4 h-4 mr-1.5 bg-white border border-solid border-mono-700 mb-px;

    content: "";
  }

  &:first-of-type {
    @apply mt-0;
  }

  span {
    @apply w-full ml-[1.375rem] block text-sm;

    &:first-child {
      @apply w-[calc(100%-1.375rem)] ml-0 text-base;
    }
  }
}

.CheckBox-Input:focus + .CheckBox-Label,
.RadioButton-Input:focus + .RadioButton-Label {
  &::before {
    @apply ring;
  }
}

.CheckBox-Input:checked + .CheckBox-Label::before {
  /* prettier-ignore */
  background:
    url("../images/checkmark.svg"
    param(--color theme("colors.zpid-blue.500"))
    param(--strokeWidth 10))
    left center no-repeat;

  @apply bg-white;
}

.RadioButton-Input:checked + .RadioButton-Label::before {
  /* prettier-ignore */
  background:
    url("../images/radiobutton.svg"
    param(--color theme("colors.zpid-blue.500")))
    left center no-repeat;

  @apply bg-white;
}

.RadioButton-Label_card {
  @apply items-center w-full px-4 py-4 border rounded-lg border-mono-300;
}

.RadioButton-Input:checked + .RadioButton-Label_card {
  @apply bg-zpid-blue-50;
}

.RadioButton-Input:not(:checked):hover + .RadioButton-Label::before {
  /* prettier-ignore */
  background:
    url("../images/radiobutton.svg"
    param(--color theme("colors.zpid-blue.100")))
    left center no-repeat;

  @apply bg-white;
}
