.Help-Text {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  dl {
    @apply px-4;
  }
}

.Help-Text blockquote p {
  @apply px-0 font-sans text-sm bg-transparent;
}

.Help-Text_section {
  @apply mb-4;

  h1 {
    @apply pt-3.5 pb-[1.125rem] bg-mono-100 text-zpid-purple;
    /* @apply text-xl #{!important};*/
  }
}

.Help-Text_metaData {
  @apply mt-4 mb-6;
}

.Help-Text_metaData-Title {
  @apply flex justify-between w-full;

  &::after {
    @apply transition rotate-90;

    content: "›";
  }
}

.Help-Text_metaData_expanded {
  &::after {
    @apply transition transform -rotate-90 -translate-x-1;
  }
}

details.Help-Text > summary {
  @apply flex items-center overflow-hidden break-all;

  /* &::before {
     @apply flex items-center justify-center w-4 h-4 p-2 mr-3 text-sm font-semibold border rounded-full border-zpid-purple;

     content: "?";
  }*/

  &::after {
    @apply flex items-center justify-center w-4 h-4 ml-auto text-3xl transition rotate-90;

    content: "›";
  }
}

details.Help-Text {
  /* @apply bg-gray-50; */

  &[open] > summary {
    @apply bg-gradient-to-b from-gray-100 to-white;

    /* &::before {
       @apply text-white border-transparent bg-zpid-blue;
    }*/

    &::after {
      @apply transition transform -rotate-90 -translate-x-1.5;

      content: "›";
    }
  }
}

details.Help-Text_isHighlighted[open] {
  @apply border-zpid-blue;
}

details.Help-Text_isHighlighted[open] > summary {
  &::before {
    @apply text-white border-transparent bg-zpid-blue;
  }
}

@keyframes details-show {
  from {
    opacity: 0%;
    transform: var(--details-translate, translateY(-0.5em));
  }
}

details.Help-Text[open] > *:not(summary) {
  animation: details-show 250ms ease-in-out;
}

.Details-SlideOut {
  p {
    @apply first:mt-4;
  }
}
