{% extends "Layouts/base.html.twig" %}

{% block title %}
    Studies
{% endblock %}

{% block body %}
    <div class="col-span-full xl:col-start-3 xl:col-end-11">
        <main>
            <div class="flex mt-6">
                <h2 class="inline text-2xl font-semibold">
                    My studies
                </h2>
                <span class="self-center">
                    {# prettier-ignore #}
                    <button class="px-2 ml-2 bg-white border rounded-md border-mono-500 hover:bg-mono-100" onclick="window.location.href='{{ path("Study-new") }}'">
                        Create new study
                    </button>
                </span>
            </div>
            <ul>
                {% for experiment in all_experiments %}
                    <li>
                        {# prettier-ignore #}
                        <div class="px-3 py-2 mt-2 border border-mono-300 hover:shadow hover:bg-mono-100 bg-mono-50 hover:border-mono-500">
                            <a href="{{ path('Study-documentation', {uuid: experiment.id}) }}">
                                    <span class="text-xl underline">
                                        {{ experiment.settingsMetaDataGroup.shortName }}
                                    </span>
                                    <div>
                                        <span class="font-semibold">Title:</span>
                                        <span>
                                            {{ experiment.basicInformationMetaDataGroup.title }}
                                        </span>
                                    </div>
                                    <div>
                                        <span class="font-semibold">Datasets:</span>
                                    </div>
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </main>
    </div>
{% endblock %}
