@import "utilities/markdown";

[x-cloak] {
  display: none !important;
}

@layer utilities {
  .underline-dotted {
    text-decoration-style: dotted;
  }
}

.Label-Info {
  &::before {
    @apply p-2 mr-1 mt-0.5 border rounded-3xl;

    align-self: baseline;
    /* prettier-ignore */
    background:
      url("../images/mdi:information-variant.svg")
      left center no-repeat theme("colors.zpid-purple.50");
    content: "";
  }
}
