@utility CodeBookHead-Cell {
  @apply px-1 py-2 text-sm font-semibold text-left text-gray-700 bg-gray-200 border-b border-gray-400;

  .tippy-content {
    @apply font-normal;
  }
}

@utility PopupLink {
  width: max-content;
  min-width: 1.5rem;
  max-width: stretch;
}
