<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="./favicon.ico" />
        <link rel="icon" type="image/vnd.microsoft.icon" href="./favicon.ico">
        <link rel="icon" type="image/x-icon" href="./favicon.ico">
        <link rel="icon" href="./favicon.ico" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {{ include('Components/_footer.html.twig') }}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
