{% extends "Layouts/base.html.twig" %}

{% block body %}
    <div class="col-span-3">
        <div class="border-2 shadow-lg bg-mono-200 border-mono-500">
            {{ include("Components/_navigationSidebar.html.twig") }}
        </div>
    </div>

    <div class="col-span-5">
        <section class="border-2 shadow-lg bg-mono-200 border-mono-500">
            {% block content %}
                Something went wrong. Please return to the
                <a href="{{ path("Study-overview") }}">Study overview</a>
            {% endblock %}
        </section>
    </div>

    <div class="col-span-4">
        <aside class="border-2 shadow-lg bg-mono-200 border-mono-500 markdown">
            <div class="Help-Section">
                {% block help_for_section %}
                    <div class="Help-Text Help-Text_section">
                        <h2 class="text-2xl font-semibold">
                            Help
                        </h2>
                    </div>
                {% endblock %}
            </div>
            {% block help_for_metadata %}
                <div class="relative Help-MetaData">
                    <div class="Help-Text Help-Text_metaData">
                        <p class="mt-2">
                            Help is under construction. Please come back later.
                        </p>
                    </div>
                </div>
            {% endblock %}
        </aside>
    </div>
{% endblock %}
